/*--------------------------------------------------------------
# Search Block
--------------------------------------------------------------*/

// Minimal Style.

.is-style-swt-search-minimal {

	&.wp-block-search__button-inside {

		.wp-block-search__button {
			color: var(--wp--preset--color--heading);
			background-color: var(--wp--preset--color--background);
			border-radius: 0;
			margin: 0;
			padding:
				var(--wp--preset--spacing--xx-small)
				var(--wp--preset--spacing--xx-small);
		}

		.wp-block-search__button:hover {
			color: var(--wp--preset--color--heading);
			background-color: var(--wp--preset--color--background);
		}

		.wp-block-search__inside-wrapper {
			padding: 4px;
			border: 1px solid var(--wp--preset--color--outline);
			border-radius: var(--wp--custom--border-radius--small);
			background-color: var(--wp--preset--color--background);
		}
	}

	.wp-block-search__input {
		padding-left: var(--wp--preset--spacing--xx-small);
		color: var(--wp--preset--color--heading);
		background-color: var(--wp--preset--color--background);
		border-radius: 0;
		border: 0;
	}

	&.wp-block-search__button-outside,
	&.wp-block-search__no-button {

		.wp-block-search__input {
			border: 1px solid var(--wp--preset--color--outline);
			border-radius: var(--wp--custom--border-radius--small);
		}
	}
}

/*--------------------------------------------------------------
# Latest post
--------------------------------------------------------------*/

.is-style-swt-latest-posts-simple {
	color: var(--wp--preset--color--neutral);

	> li {
		margin-bottom: var(--wp--preset--spacing--x-small);
	}

	&.swt-has-featured-image > li {
		padding-right: 75px;
		position: relative;
	}

	.wp-block-latest-posts__featured-image {
		position: absolute;
		right: 0;

		img {
			object-fit: cover;
			width: 56px;
			height: 56px;
		}
	}

	a {
		display: block;
		color: var(--wp--preset--color--heading);
		font-size: var(--wp--preset--font-size--small);
		font-weight: var(--wp--custom--font-weight--medium);

	}

	.wp-block-latest-posts__post-author,
	.wp-block-latest-posts__post-date {
		display: inline-block;
		font-size: var(--wp--preset--font-size--x-small);
		font-weight: var(--wp--custom--font-weight--regular);
	}

	.wp-block-latest-posts__post-author + time::before {
		content: "·";
		padding-right: 5px;
		padding-left: 5px;
		color: var(--wp--preset--color--neutral);
	}

	.wp-block-latest-posts__post-excerpt {
		font-size: var(--wp--preset--font-size--x-small);
		font-weight: var(--wp--custom--font-weight--regular);
		margin-top: 0.2em;
	}
}

/*--------------------------------------------------------------
# Category Block
--------------------------------------------------------------*/

// Pill Style.

.wp-block-post-terms.is-style-swt-post-terms-pill {

	a {
		padding: 6px 12px;
		border-radius: var(--wp--custom--border-radius--full);
		color: var(--wp--preset--color--body);
		background-color: var(--wp--preset--color--surface);
		margin-right: var(--wp--preset--spacing--xx-small);
		line-height: var(--wp--custom--line-height--initial);

		.wp-block-post-terms__separator {
			display: none;
		}
	}
}

.taxonomy-category.is-style-swt-post-terms-pill {
	padding: 6px 12px;
	border-radius: var(--wp--custom--border-radius--full);
	color: var(--wp--preset--color--body);
	background-color: var(--wp--preset--color--surface);
	margin-right: var(--wp--preset--spacing--xx-small);
	line-height: var(--wp--custom--line-height--initial);
}

/*--------------------------------------------------------------
# Button Block
--------------------------------------------------------------*/

.is-style-swt-button-secondary {

	.wp-element-button {
		color: var(--wp--preset--color--body);
		background-color: var(--wp--preset--color--surface);

		&:hover {
			color: var(--wp--preset--color--body);
			background-color: var(--wp--preset--color--surface);
		}
	}
}

.is-style-swt-button-inverse {

	.wp-element-button { /* stylelint-disable-line no-descending-specificity */
		color: #1f2937;
		background-color: #fff;

		&:hover {
			color: #1f2937;
			background-color: #fff;
		}
	}
}

/*--------------------------------------------------------------
# Separator Block
--------------------------------------------------------------*/

.is-style-swt-separator-wide-thin-line:not(.is-style-wide):not(.is-style-dots) {
	max-width: var(--wp--style--global--content-size);
	width: 100%;
	border-width: 1px;
}

/*--------------------------------------------------------------
# Archive Block
--------------------------------------------------------------*/

.is-style-swt-archives-minimal {
	padding: 0;
	list-style: none;

	.cat-item {
		font-size: var(--wp--preset--font-size--small);
		margin-bottom: var(--wp--preset--spacing--xx-small);
	}

	.wp-block-archives-dropdown {
		position: relative;

		select {
			padding-left: var(--wp--preset--spacing--x-small);
			padding-right: var(--wp--preset--spacing--large);
			padding-top: var(--wp--preset--spacing--x-small);
			padding-bottom: var(--wp--preset--spacing--x-small);
			border: 1px solid var(--wp--preset--color--outline);
			border-radius: var(--wp--custom--border-radius--small);
			font-weight: var(--wp--custom--font-weight--regular);
			font-size: var(--wp--preset--font-size--small);
			color: var(--wp--preset--color--heading);
			background-color: var(--wp--preset--color--background);
			width: 100%;
			height: 60px;
			appearance: none;
		}

		&::after {
			content: "\e900";
			position: absolute;
			font-family: icomoon, sans-serif !important;
			font-size: var(--wp--preset--font-size--medium);
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

/*--------------------------------------------------------------
# Categories Block
--------------------------------------------------------------*/

.is-style-swt-categories-minimal {
	padding: 0;
	list-style: none;

	.cat-item {
		font-size: var(--wp--preset--font-size--small);
		margin-bottom: var(--wp--preset--spacing--xx-small);
	}

	&.wp-block-categories-dropdown {
		position: relative;

		select {
			padding-left: var(--wp--preset--spacing--x-small);
			padding-right: var(--wp--preset--spacing--large);
			padding-top: var(--wp--preset--spacing--x-small);
			padding-bottom: var(--wp--preset--spacing--x-small);
			border: 1px solid var(--wp--preset--color--outline);
			border-radius: var(--wp--custom--border-radius--small);
			font-weight: var(--wp--custom--font-weight--regular);
			font-size: var(--wp--preset--font-size--small);
			color: var(--wp--preset--color--heading);
			background-color: var(--wp--preset--color--background);
			width: 100%;
			height: 60px;
			appearance: none;
		}

		&::after {
			content: "\e900";
			position: absolute;
			font-family: icomoon, sans-serif !important;
			font-size: var(--wp--preset--font-size--medium);
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}


/*--------------------------------------------------------------
# Latest comments
--------------------------------------------------------------*/

.is-style-swt-latest-comments-simple {
	padding: 0;

	.wp-block-latest-comments__comment-avatar {
		width: 24px;
		height: 24px;
	}

	.wp-block-latest-comments__comment {

		.wp-block-latest-comments__comment-meta {
			font-size: var(--wp--preset--font-size--small);
			color: var(--wp--preset--color--neutral);
			font-weight: var(--wp--custom--font-weight--regular);

			.wp-block-latest-comments__comment-date {
				font-size: var(--wp--preset--font-size--x-small);
				font-weight: var(--wp--custom--font-weight--regular);
				margin-top: 0.36em;
			}

			.wp-block-latest-comments__comment-excerpt {

				p {
					font-size: var(--wp--preset--font-size--x-small);
					font-weight: var(--wp--custom--font-weight--regular);
				}
			}
		}
	}

	.has-avatars {

		.wp-block-latest-comments__comment {

			.wp-block-latest-comments__comment-meta,
			.wp-block-latest-comments__comment-excerpt {
				margin-left: 35px;
			}
		}
	}
}


/*--------------------------------------------------------------
# Tag cloud
--------------------------------------------------------------*/
.is-style-swt-tag-cloud-pill {

	.tag-cloud-link {
		font-size: var(--wp--preset--font-size--x-small);
		color: var(--wp--preset--color--heading);
		font-weight: var(--wp--custom--font-weight--regular);
		border: 1px solid var(--wp--preset--color--outline);
		border-radius: var(--wp--custom--border-radius--x-large);
		padding: 2px 12px;
		margin-bottom: 5px;
	}
}


/*--------------------------------------------------------------
# Note
Remove all above code after wordpress fixes issue with
register_block_style not applying styles in the editor.
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Editor dynamic duotone support
--------------------------------------------------------------*/

.swt-duotone-primary {
	filter: var(--wp--preset--duotone--primary);
}

.swt-duotone-secondary {
	filter: var(--wp--preset--duotone--secondary);
}

/*--------------------------------------------------------------
# Post / Page hide and show title
--------------------------------------------------------------*/
.edit-post-visual-editor__post-title-wrapper {
	position: relative;
	max-width: min(calc(100dvw - var(--wp--preset--spacing--large, 2rem)), 764px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	padding-left: 0;

	.title-visibility {
		cursor: pointer;
		font-size: 18px;
		width: 36px;
		height: 100%;
		text-align: center;
		color: var(--wp-admin-theme-color);
		vertical-align: middle;
		position: absolute;
		left: -37px;
		bottom: 0;
		opacity: 0;
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
		transition: all 0.2s;
	}

	.title-visibility::before {
		width: 100%;
		height: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.title-visibility::after {
		content: attr(data-tooltip);
		white-space: nowrap;
		border-radius: 2px;
		pointer-events: none;
		color: #fff;
		background: #1e1e1e;
		opacity: 0;
		visibility: hidden;
		width: max-content;
		line-height: 26px;
		margin-left: -1px;
		display: flex;
		font-family:
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen-Sans,
			Ubuntu,
			Cantarell,
			"Helvetica Neue",
			sans-serif;
		align-items: flex-start;
		padding: 0 6px;
		font-size: 12px;
		transition: all 0.2s;
	}

	h1.editor-post-title__input {
		padding: 10px 6px;
		transition: all 0.2s;
	}

	h1.editor-post-title__input.is-selected {
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);

		+ {

			.title-visibility {
				opacity: 1;
				color: var(--wp-admin-theme-color);
			}
		}
	}

	.swt-show-visibility-icon {
		opacity: 1;
		color: var(--wp-admin-theme-color);
	}

	.swt-show-editor-title-outline {
		box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
	}

	&.invisible {
		opacity: 0.5;
	}
}
