.interface-interface-skeleton__sidebar .components-base-control:last-child {
	margin-bottom: 8px;
}

.swt-full-width-btn {
	width: 100%;
	text-align: center;
	justify-content: center;
}

/*--------------------------------------------------------------
# Spectra global panel compatibility on responsive
--------------------------------------------------------------*/

.edit-site-sidebar-edit-mode {

	@media (max-width: 781px) {
		width: 100%;
	}
}

/*--------------------------------------------------------------
# Spectra editor 
--------------------------------------------------------------*/

.swt-template-kit-spectra {
	position: absolute;
	bottom: 32px;
}