.interface-interface-skeleton__sidebar .components-base-control:last-child {
  margin-bottom: 8px;
}

.swt-full-width-btn {
  width: 100%;
  text-align: center;
  justify-content: center;
}

/*--------------------------------------------------------------
# Spectra global panel compatibility on responsive
--------------------------------------------------------------*/
@media (max-width: 781px) {
  .edit-site-sidebar-edit-mode {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Spectra editor
--------------------------------------------------------------*/
.swt-template-kit-spectra {
  margin-top: auto;
  justify-content: center;
  padding: 16px;
  width: 100%;
}
.swt-template-kit-spectra.is-primary:focus:not(:disabled) {
  box-shadow: none;
}

.block-editor-block-patterns-explorer__sidebar__categories-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  overflow-y: auto;
}