@charset "UTF-8";
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------------------------------------------------
# Frontend dynamic duotone support
--------------------------------------------------------------*/
.swt-duotone-primary {
  filter: var(--wp--preset--duotone--primary);
}

.swt-duotone-secondary {
  filter: var(--wp--preset--duotone--secondary);
}

.wp-site-blocks {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.site-content {
  flex-grow: 1;
}

.wp-site-blocks footer {
  margin-block-start: auto;
  margin-top: auto;
}