.swt-welcome-notice {
  position: relative;
  padding: 1em;
}

#swt-install-spectra .dashicons {
  display: inline-block;
  vertical-align: middle;
}
#swt-install-spectra .dashicons.hidden {
  display: none;
}