<!-- wp:template-part {"slug":"header","theme":"spectra","tagName":"header"} /-->

<!-- wp:pattern {"slug":"spectra/hero-banner"} /-->

<!-- wp:pattern {"slug":"spectra/three-columns-featured"} /-->

<!-- wp:pattern {"slug":"spectra/banner-wide"} /-->

<!-- wp:pattern {"slug":"spectra/three-columns-listing"} /-->

<!-- wp:pattern {"slug":"spectra/testimonial"} /-->

<!-- wp:pattern {"slug":"spectra/alternate-card"} /-->

<!-- wp:pattern {"slug":"spectra/post-grid"} /-->

<!-- wp:pattern {"slug":"spectra/call-to-action"} /-->

<!-- wp:template-part {"slug":"footer","theme":"spectra","tagName":"footer"} /-->