<!-- wp:template-part {"slug":"header","theme":"spectra","tagName":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--x-large)"><!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide"} /-->

    <!-- wp:term-description {"align":"wide"} /--></div>
    <!-- /wp:group -->
<!-- wp:pattern {"slug":"spectra/template-blog-grid"} /-->
<!-- wp:template-part {"slug":"footer","theme":"spectra","tagName":"footer"} /-->