<!-- wp:template-part {"slug":"header","theme":"spectra","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi arcu, interdum a metus vitae, mattis mattis nisi. Integer quis ultricies ligula, in congue lectus. Morbi vulputate eget diam nec convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus nulla, blandit vitae arcu vel, pellentesque viverra neque. In pellentesque a arcu a viverra. Curabitur elementum efficitur erat in consectetur. Etiam bibendum metus dapibus purus laoreet, a commodo sem ullamcorper. Cras mollis justo ut blandit pulvinar. Nullam faucibus elit tortor, non commodo lacus gravida ac.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Nulla blandit luctus pharetra. Maecenas vulputate et elit eu gravida. Vivamus metus risus, elementum convallis eros ut, lacinia pulvinar nisi. Quisque id porta ex. Fusce ac dui risus. Integer a rhoncus sem. Aenean lorem nunc, mollis a enim ut, tincidunt efficitur augue. Praesent mollis ac sem nec aliquet. Curabitur consectetur in mauris sit amet rutrum. Sed faucibus sollicitudin ipsum, eu luctus lorem ornare luctus. Nullam congue vestibulum tortor, id pretium felis. Nullam lacinia odio in elementum pretium. Aliquam rhoncus sem eu rutrum tempor.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Duis venenatis, justo in suscipit vestibulum, ipsum tellus bibendum urna, at scelerisque eros mauris at magna. Nullam condimentum sagittis volutpat. Nulla facilisi. Etiam ut fringilla est. Mauris sit amet neque at orci commodo bibendum a non ligula. Suspendisse potenti. Mauris ut tincidunt nibh. Pellentesque gravida, metus congue aliquam vulputate, eros velit vehicula libero, ac viverra nulla nulla sit amet enim. Vivamus condimentum non quam viverra varius. Integer risus enim, eleifend ac risus ut, auctor suscipit libero.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Integer at consectetur turpis. Integer venenatis rhoncus laoreet. Sed commodo a dolor gravida rhoncus. Mauris congue, neque a vulputate malesuada, lectus libero mattis nisi, ut vulputate diam eros et purus. Donec odio turpis, cursus quis ornare bibendum, vestibulum ut libero. Maecenas lobortis enim a felis porta malesuada. Sed et lorem cursus, aliquam leo ac, dignissim justo. Pellentesque ultricies viverra vestibulum.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Proin egestas suscipit iaculis. Nulla finibus felis ligula, sit amet elementum metus convallis efficitur. Curabitur vel sodales nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin tincidunt rhoncus tortor vel pharetra. Aliquam sed tortor a lectus malesuada porta. Aliquam pretium pretium lectus, sit amet dignissim neque molestie quis. Ut sed dolor mattis, facilisis lorem volutpat, cursus erat. Cras a nibh pulvinar, egestas augue id, congue neque. Sed at ex dapibus, ultricies purus a, placerat quam. Ut congue sollicitudin eros, sit amet laoreet sem venenatis et. Integer commodo quis tellus sit amet dignissim.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"spectra","tagName":"footer"} /-->