<!-- wp:template-part {"slug":"header","theme":"spectra-one","tagName":"header","SWTTransparentHeader":true} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner"} /-->
<!-- wp:pattern {"slug":"spectra-one/three-columns-featured"} /-->
<!-- wp:pattern {"slug":"spectra-one/zigzag-content"} /-->
<!-- wp:pattern {"slug":"spectra-one/testimonial"} /-->
<!-- wp:pattern {"slug":"spectra-one/featured-logos"} /-->
<!-- wp:pattern {"slug":"spectra-one/split-content"} /-->
<!-- wp:pattern {"slug":"spectra-one/post-grid"} /-->
<!-- wp:pattern {"slug":"spectra-one/faq"} /-->
<!-- wp:pattern {"slug":"spectra-one/call-to-action"} /-->
<!-- wp:template-part {"slug":"footer","theme":"spectra-one","tagName":"footer"} /-->