<!-- wp:template-part {"slug":"header","theme":"spectra-one","tagName":"header","SWTTransparentHeader":true} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner"} /-->
<!-- wp:pattern {"slug":"spectra-one/three-columns-featured"} /-->
<!-- wp:pattern {"slug":"spectra-one/banner-wide"} /-->
<!-- wp:pattern {"slug":"spectra-one/three-columns-listing"} /-->
<!-- wp:pattern {"slug":"spectra-one/testimonial"} /-->
<!-- wp:pattern {"slug":"spectra-one/alternate-card"} /-->
<!-- wp:pattern {"slug":"spectra-one/post-grid"} /-->
<!-- wp:pattern {"slug":"spectra-one/call-to-action"} /-->
<!-- wp:template-part {"slug":"footer","theme":"spectra-one","tagName":"footer"} /-->