<!-- wp:pattern {"slug":"spectra-one/announcement-bar"} /-->
<!-- wp:pattern {"slug":"spectra-one/announcement-bar-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-5"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-6"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-5"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-6"} /-->
<!-- wp:pattern {"slug":"spectra-one/feature"} /-->
<!-- wp:pattern {"slug":"spectra-one/text"} /-->
<!-- wp:pattern {"slug":"spectra-one/text-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/text-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/text-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-1"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-5"} /-->
<!-- wp:pattern {"slug":"spectra-one/contact-6"} /-->
