<!-- wp:pattern {"slug":"spectra-one/announcement-bar"} /-->
<!-- wp:pattern {"slug":"spectra-one/announcement-bar-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/column-counter"} /-->
<!-- wp:pattern {"slug":"spectra-one/column-counter-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/column-counter-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/column-counter-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-5"} /-->
<!-- wp:pattern {"slug":"spectra-one/hero-banner-6"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-2"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-3"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-4"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-5"} /-->
<!-- wp:pattern {"slug":"spectra-one/pricing-6"} /-->
<!-- wp:pattern {"slug":"spectra-one/feature"} /-->