.site-content {
	flex-grow: 1;
}

.wp-site-blocks {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;

	footer {
		margin-block-start: auto;
		margin-top: auto;
	}
}
